<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <title>Footer</title>
</head>

<body>
    <footer id="footer" class="py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md mx-auto">
                    <h3> Proyecto Redes</h3>
                    <hr class="light">
                    <h6> TEC</h6>
                    <h6> Cartago, Costa Rica </h6>
                    <h6> Tel: 2222-1111</h6>
                    <hr class="light">
                </div>
            </div>
            <p class="m-0 text-center">Copyright © DarkForce 2021</p>

        </div>
    </footer>
</body>

</html>
